<h1>新規ユーザ登録フォーム</h1>

 <%= form_with(model: @user, local: true) do |f| %>
		<div>
			<%= f.label :lastname, "性" %>
			<%= f.text_field :lastname %>	
		</div>

		<div>
			<%= f.label :firstname, "名前" %>
			<%= f.text_field :firstname %>		
		</div>

		<div>
			<%= f.label :username, "ユーザーネーム" %>
			<%= f.text_field :userame %>	
		</div>

		<div>
			<%= f.label :password, "Password" %>
			<%= f.password_field :password %>
		</div>

		<div>
			<%= f.label :password_confirmation %>
			<%= f.text_field :password_confirmation %>
		</div>

		<label class="checkbox">
          <%= f.check_box :agreement, :as => :boolean, checked:false %>
          <%= link_to "利用規約", "#", { target:"blank" } %>に同意する
     </label>

		<%= f.submit "Sign up" %>
	<% end %>  