<!--ユーザープロフィール-->
<% provide(:title, @user.username) %>
<div class="container">
  <div class="row">
    <aside class="col-md-6">
      <section class="user_info">
        <h1>
        <img class="rounded img-fluid" src="<%= gravatar_url(@user, { size: 80 }) %>" alt="">
          <%= @user.username %>
        </h1>
        <div>
          <%= @user.introduction %>
        </div>
      </section>
      <% if @user == current_user %>
        <%= link_to "Edit profile", edit_user_path(current_user) %>
      <% end %> 
    </aside>
  </div>
 </div> 

 <!--フォローボタン-->
<%= render 'relationships/follow_button', user: @user %>
  <div class="container">
    <ul class="f-container nav nav-tabs nav-justified mb-3">
      <li class="col-md-5 nav-item"><a href="<%= following_user_path(@user) %>">フォロー</a><%= @count_followings %></li>
      <li class="col-md-5 nav-item"><a href="<%= follower_user_path(@user) %>">フォロワー</a><%= @count_followers %></li>
    </ul>
  </div>

<!--投稿写真一覧-->
<% if @user.microposts.any? %>
  <p>投稿数（<%= @user.microposts.count %>）</p>
    <div class="f-container">
      <% @microposts.each do |micropost| %> 
        <div class="justify-content-start col-md-4">
          <%= link_to ( image_tag ( micropost.picture.url if micropost.picture)), micropost %>
        </div>
      <% end %> 
    </div>
<% end %>
 

 <% @comments.each do |comment| %>
  <%= comment.user.username %>
  <%= comment.comment_content %>
  <% end %>


