<!--ユーザープロフィール-->
<% provide(:title, @user.username) %>
<div class="container">
  <div class="row">
    <aside class="col-md-6">
      <section class="user_info">
        <h1>
        <img class="rounded img-fluid" src="<%= gravatar_url(@user, { size: 80 }) %>" alt="">
          <%= @user.username %>
        </h1>
        <div>
          <%= @user.introduction %>
        </div>
      </section>
      <% if @user == current_user %>
        <%= link_to "Edit profile", edit_user_path(current_user) %>
      <% end %> 
    </aside>
  </div>
 </div> 

<%= render 'relationships/follow_button', user: @user %>
<div class="container">
  <div class="col-md-6">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="#">Following</a><span class="badge badge-secondary"><%= @count_followings %></span></li>
      <li class="nav-item"><a href="#">Followers</a><span class="badge badge-secondary"><%= @count_followers %></span></li>
    </ul>
  </div>
</div>

<!--投稿写真一覧-->
  <% if @user.microposts.any? %>
    <p>Posts(<%= @user.microposts.count %>)</p>
      <% @microposts.each do |micropost| %> 
        <div class="col-4">
          <ol class= "microposts ">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            <%= image_tag micropost.picture.url if micropost.picture %>
            </button>
            <!--Modal-->
            <%= render "microposts/modal", micropost: @micropost %>
          </ol>
         </div> 
      <% end %> 
 <% end %>

 <% @comments.each do |comment| %>
  <%= comment.user.username %>
  <%= comment.comment_content %>
  <% end %>


