<% if logged_in? %>
	<%= search_form_for @search do |f| %>
   
	<%= f.label :content_cont, "検索ワード" %>
	<%= f.search_field :content_cont %>

	<div class="actions"><%= f.submit "検索" %></div>
	<% end %>

	<!--投稿写真一覧-->
		<% @microposts.each do |micropost| %> 
			<div class="col-4">
				<ol class= "microposts ">
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
					<%= image_tag micropost.picture.url if micropost.picture %>
					</button>
					<!--Modal-->
					<%= render "microposts/modal", micropost: @micropost %>
				</ol>
			</div> 
		<% end %> 
<% else %>
	<div class="center jumbotron">
		<h1>Welocome to insta_app</h1>
	<%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
	<%= link_to "Log in", login_path, class: "btn btn-lg btn-primary" %>
	<%= link_to "Facebookでログイン", "#", class: "btn btn-lg btn-primary"%>
<% end %>

