<% if logged_in? %>
<!--投稿写真一覧--> 
	<div class="f-container">
		<% if @microposts.any? %>	
			<% @microposts.each do |micropost| %> 
				<div class="item justify-content-start col-md-4">
					<ol id="micropost-<%= micropost.id %>">

						<!-- Button trigger modal -->
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal-<%= micropost.id %>">
							<%= image_tag micropost.picture.url if micropost.picture %>
						</button>

						<!--Modal-->
						<%= render "microposts/modal", micropost: @micropost %>
				</div>			
			<% end %> 
		<% end %>	
	</div>							
<% else %>
	<div class="center jumbotron">
		<h1>Welocome to insta_app</h1>
			<%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
			<%= link_to "Log in", login_path, class: "btn btn-lg btn-primary" %>
			<%= link_to "Facebookでログイン", "#", class: "btn btn-lg btn-primary"%>
	</div>	
<% end %>

